{% extends 'base.html' %}
{% load static %}

{% block content %}
<form action="" method="get">
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<div class="row">
    {% for task in tasks %}
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ task.title }}</h5>
                <p class="card-text">{{ task.description }}</p>
                <p class="card-text"><strong>Категория:</strong> {{ task.category.name }}</p>
                <a href="{% url 'task_detail' task.id %}" class="btn btn-primary">Go to task</a>
            </div>
        </div>
    </div>
    <p>Нет задач для отображения.</p>
    {% endfor %}
</div>

<div style="display: flex; justify-content: center; margin-top: 20px; margin-bottom: 20px;">
    {% for page in max_pages %}
    <a class="btn btn-primary" href="{{ request.get.full_path }}&page={{ page }}">{{ page }}</a>
    {% endfor %}
</div>
{% endblock %}
